{% extends 'registration/base.html' %}
{% load i18n %}


{% block title %}{% translate "Enter new password" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="auth-header">
            <h1>{% translate "Set your new password" %}</h1>
            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button type="submit" class="btn-primary" style="margin-top: 2rem;">
                {% translate 'Change my password' %}
            </button>
        </form>
    {% else %}
        <div class="icon-box icon-error">
            <span class="material-symbols-outlined">error</span>
        </div>
        
        <div class="auth-header">
            <h1>{% translate "Invalid Link" %}</h1>
            <p style="margin-top: 1rem;">
                {% translate "The password reset link was invalid, possibly because it has already been used." %}
            </p>
        </div>
        
        <a href="{% url 'admin_password_reset' %}" class="btn-primary" style="margin-top: 1rem;">
            {% translate 'Request new reset link' %}
        </a>
    {% endif %}
{% endblock %}
