{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}{% translate "Password reset complete" %}{% endblock %}

{% block content %}
    <div class="icon-box icon-success">
        <span class="material-symbols-outlined">check_circle</span>
    </div>

    <div class="auth-header">
        <h1>{% translate "Password reset complete" %}</h1>
        <p style="margin-top: 1rem;">
            {% translate "Your password has been set. You may go ahead and log in now." %}
        </p>
    </div>

    <a href="{% url 'admin:login' %}" class="btn-primary" style="margin-top: 2rem;">
        {% translate 'Log in' %}
    </a>
{% endblock %}
