{% extends 'base.html' %}
{% load static %}

{% block title %}About CareFirst Dental Clinic | Kathmandu{% endblock %}

{% block content %}
    {% include 'pages/about_partials/about_hero.html' %}
    {% include 'pages/about_partials/our_story.html' %}
    {% include 'pages/about_partials/clinic_overview.html' %}
    {% include 'pages/about_partials/premium_services.html' %}
    {% include 'pages/about_partials/mission_vision.html' %}
    {% include 'pages/about_partials/why_choose_us.html' %}
    {% include 'pages/about_partials/patient_journey.html' %}
    {% include 'pages/about_partials/lead_doctor.html' %}
    {% include 'pages/about_partials/patient_experience.html' %}
    {% include 'pages/about_partials/faq.html' %}
    {% include 'pages/about_partials/about_cta.html' %}
{% endblock %}
