{% extends 'base.html' %}
{% load static %}

{% block title %}Our Treatments | CareFirst Dental Clinic{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/treatments.css' %}">
{% endblock %}

{% block content %}
    {% include 'pages/treatments_partials/treatments_hero.html' %}
    {% include 'pages/treatments_partials/treatment_category_card.html' %}
    {% include 'pages/treatments_partials/featured_treatments_grid.html' %}
    {% include 'pages/treatments_partials/signature_treatment.html' %}
    {% include 'pages/treatments_partials/why_carefirst_treatment.html' %}
    {% include 'pages/treatments_partials/patient_journey.html' %}
    {% include 'pages/treatments_partials/emergency_banner.html' %}
    {% include 'pages/treatments_partials/treatment_faq.html' %}
    {% include 'pages/treatments_partials/treatments_cta.html' %}
{% endblock %}
